<div class='product_flex'>
  <div>
    <img src="{{model.img_local_path}}" />
  </div>
  <div>
    <a href="{{model.product_link_bodybuildingDotCom}}" />{{model.brand}}</a>
    <h3>{{model.name}}</h3>
    <p>
      {{model.desc_short}}
    </p>
    <p>
      {{model.desc_long}}
    </p>
  </div>
</div>
