<div id="{{this.key}}" class='manybox'>
  <div class='manybox-header'>
    <p>Product</p>
    <p>Description</p>
    <p>Price</p>
  </div>
 <div class='product-box'>
   <div>
     <img src="{{this.img_local_path}}" />
   </div>
   <div>
     <p><a href="{{this.product_link_bodybuildingDotCom}}" />{{this.brand}}</a></p>
     <p>{{this.name}}</p>
     <p>{{this.desc_short}}</p>
     <p>{{limitContentLength this.product_content}}</p>
   </div>
   <div>
     <p>$32.99</p>
     <button>GO</button>
   </div>
 </div>
</div>
