<div class='callout'>
  <p>{{model.header.label_size}}</p>
  {{#each model.header.label_serving}}
    <p>{{this.label}}</p>
  {{/each}}
</div>
<div class='callout'>
  {{#each model.body}}
  <div class='label_flex'>
    <p>{{this.ing}}</p>
    <p>{{this.qty}}</p>
    <p>{{this.dv}}</p>
  </div>
  {{/each}}
</div>
<div class='callout'>
  <h6>{{checkIngredientTitle}}</h6>
  <p>
    {{model.ingredients}}
  </p>
</div>
